configuration {
  modi: "drun,run,ssh";
  show-icons: true;
  font: "SanFranciscoDisplay 18";
  lines: 10;
  display-drun: "💎";
  display-run: "🏃‍♀️";
  display-ssh: "🧱";
}
@import "/usr/share/rofi/themes/Pop-Dark.rasi"
