/*-*- mode: css; -*-*/

configuration {
    modi: "drun,run,ssh";
    show-icons: true;
    //icon-theme: "deepin-dark";
    display-drun: "🚀";
    display-run: "👟";
    display-ssh: "🔗";
    lines: 10;
    theme: "nimo.rasi";
}
